{
  "presets": [
    [
      "@babel/preset-env",
      {
        //  "targets": {
        "modules": 'auto'
        //   }
      }
    ]
  ]
  //  "plugins": ['@babel/transform-runtime', 'babel-plugin-transform-import-meta']
}